html
  head
    title Make Play Live Password Reset
    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script
       function validateForm() {
         var form = $('#register');
         if (!$('#resetCode').val() || !$('#userId').val() ||
             !$('#userEmail').val()) {
           $('#help-info').text('Essential fields are missing!');
           $('#field-control').addClass('error');
           return false;
         }
         if ($('#password1').val() !== $('#password2').val()) {
           $('#password1').val("");
           $('#password2').val("");
           $('#password1').attr('placeholder',
                                'Passwords did not match.');
           $('#password2').attr('placeholder',
                                'Retype your password.');
           $('#help-info').text('Passwords did not match!');
           $('#field-control').addClass('error');
           return false;
         }
         if ($('#password1').val().length < 8 ||
             $('#password2').val().length < 8) {
           $('#password1').val("");
           $('#password2').val("");
           $('#password1').attr('placeholder',
                                'Needs to be at least 8 characters.');
           $('#password2').attr('placeholder',
                                'Retype your password.');
           $('#help-info').text('Password needs to be at least 8 characters long.');
           $('#field-control').addClass('error');
           return false;
         }
        }

  body
    .page-header
      h1 Reset Password For Your Make Play Live Account
    form.well(method='POST', id='reset', onsubmit='return validateForm();')
      fieldset.control-group(id='field-control')
        legend Type in your new password
        .clearfix
          .input
            span.help-block(id='help-info') At least 8 characters
            input.xlarge(id='password1', name='password1',
                         required,
                         placeholder='Choose a password',
                         type='password', size='40')
        .clearfix
          .input
            input.xlarge(id='password2', name='password2',
                         required,
                         placeholder='Enter that password again',
                         type='password', size='40')
        .actions
          input(type='hidden', id='resetCode', value='#{resetCode}')
          input(type='hidden', id='userEmail', value='#{userEmail}')
          input(type='hidden', id='userId', value='#{userId}')
          input.btn.primary(type='submit', value='Reset Password')
